html {
    height: 100%;
    background-color: #EEEEEE
}

body {
    height: 100%;
    padding: 0px;
    margin: 0px;
}

#main-container {
    height: 100%;
    display: flex;
    flex-direction: row;
    margin: 5px 0px;
}

#left-sidebar {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#abacus-container {
    flex: 5;
    display: flex;
    flex-direction: column;
}

#abacus {
    display: flex;
    flex-direction: column;
    flex: 9;
    border: 2px;
    border-color: black;
}

#abacus-top {
    flex: 3;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border-style: solid;
    border-width: 10px;
    border-bottom-width: 5px;
}

.top-row {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 0 5px;
}

#abacus-bottom {
    flex: 5;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border-style: solid;
    border-width: 10px;
    border-top-width: 5px;
}

.bottom-row {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 0 5px;
}

#numbers {
    flex: 1;
}

#right-sidebar {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bead {
    height: 45px;
    background-color: black;
    border-radius: 50%;
    margin: 0 auto;
    cursor: pointer;
}

.normal-bead {
    width: 60px;
}

.skinny-bead {
    width: 100%;
}

.button {
    background-color: #006666;
    color: #CCCCCC;
    padding: 15px 32px;
    text-align: center;
    font-size: 20px;
    margin: 20px 0px;
    border-radius: 12px;
    width: 100px;
}

.button:hover {
    cursor: pointer;
}

.display-box {
    background-color: #006666;
    color: #CCCCCC;
    padding: 15px 32px;
    text-align: center;
    font-size: 20px;
    margin: 20px 0px;
    width: 100px;
}

input {
    width: 80px;
}

.space {
    width: 12px;
    background-color: #804000;
    margin: 0 auto;
}

.grow-space {
    flex: 1;
}

.disabled-row {
    opacity: 0.4;
    pointer-events: none;
}

.space-grow {
    animation-name: grow-animation;
    animation-duration: 0.5s;
}

.space-shrink {
    animation-name: shrink-animation;
    animation-duration: 0.5s;
}

@keyframes grow-animation {
    0%   {flex: 0;}
    100% {flex: 1;}
}

@keyframes shrink-animation {
    0%   {flex: 1;}
    100% {flex: 0;}
}